body {
    font-family: Arial, sans-serif;
  }
  
  input[type="text"] {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #output {
    margin-top: 20px;
    font-size: 18px;
    white-space: pre-wrap;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }

  .node-container {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  }

  .node-label {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
  }

  .node-left::before,
  .node-right::before {
    content: "";
    display: inline-block;
    border-top: 1px solid #ccc;
    height: 20px;
    width: 0px;
    vertical-align: top;
    margin-right: 20px;
  }

  .node-left::before {
    margin-left: 20px;
  }

  .node-right::before {
    margin-left: -20px;
  }

  .node-left {
    display: inline-block;
    margin-right: -4px;
  }

  .node-right {
    display: inline-block;
  }

  .node-leaf {
    background-color: #d8d8d8;
  }
